<!DOCTYPE html> 
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-theme-l5">
	{% include 'topnav.html' %}
	{% block content %} {% endblock %}		
</body>

</html>